html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana,sans-serif;
	width: 100%;
	height: 100%;
	/*background-color: #E8F9FF;*/

	background-image: -o-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -moz-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -webkit-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -ms-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: linear-gradient(-180deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
}

.hidden {
	display: none;
}

#dropTarget {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -250px;
	margin-left: -250px;

	width: 500px;
	height: 500px;

	border-radius: 20px;
	background-color: #73BF3A;
	border: rgba(255, 255, 255, 0.5) 10px dashed;

	color: rgba(255, 255, 255, 0.6);

	text-align: center;
}


#dropTarget.hover {
	background-color: #B2E641;
}


#uploadState {
	margin-top: 150px;
	font-size: 200px;
}

#dropTarget input[type=password] {
	border: none;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.15);
	/*margin: 10px;*/
	padding: 4px;
	width: 80%;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}


#dropTarget input[type=password]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#dropTarget input[type=password]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
#dropTarget input[type=password]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
#dropTarget input[type=password]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

.error {
	background-color: #E62534 !important;
}


#step2 h1 {
	margin: 0px;
	
	width: 100%;
	height: 60px;
	font-size: 40px;

	padding: 10px;
	text-align: center;

	background-color: #73BF3A;
	color: rgba(255, 255, 255, 0.6);
}


#step2 #passwords_table {
	width: 100%;
	padding: 20px;
	color: #425669;
}

#step2 #passwords_table th {
	text-align: left;
}

#step2 #passwords_table a {
	text-decoration: none;
}


#step2 #passwords_table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#step2 #passwords_table th {
	border-bottom: 1px solid #000;
}

#step2 #passwords_table tr:nth-child(2n) td {
	background-color: rgba(255, 255, 255, 0.75);
}
