html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana,sans-serif;
	width: 100%;
	height: 100%;
	/*background-color: #E8F9FF;*/

	background-image: -o-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -moz-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -webkit-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: -ms-linear-gradient(-90deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
	background-image: linear-gradient(-180deg, #F4F9FB 0%, #E8F9FF 34%, #E8F9FF 100%);
}

.hidden {
	display: none;
}

#dropTarget {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -250px;
	margin-left: -250px;

	width: 500px;
	height: 500px;

	border-radius: 20px;
	background-color: #73BF3A;
	border: rgba(255, 255, 255, 0.5) 10px dashed;

	color: rgba(255, 255, 255, 0.6);

	text-align: center;
}


#dropTarget.hover {
	background-color: #B2E641;
}


#uploadState {
	margin-top: 150px;
	font-size: 200px;
}

#dropTarget input[type=password] {
	border: none;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.15);
	/*margin: 10px;*/
	padding: 4px;
	width: 80%;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}


#dropTarget input[type=password]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#dropTarget input[type=password]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
#dropTarget input[type=password]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
#dropTarget input[type=password]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

.error {
	background-color: #E62534 !important;
}


#passwordList h1, #detailScreen h1, #editScreen h1 {
	margin: 0px;
	
	width: 100%;
	height: 60px;
	font-size: 40px;

	padding: 10px;
	text-align: center;

	background-color: #73BF3A;
	color: rgba(255, 255, 255, 0.6);
}


#passwordList #passwords_table {
	width: 100%;
	padding: 20px;
	color: #425669;
	padding-bottom: 50px;
}

#passwordList #passwords_table th {
	text-align: left;
}

#passwordList #passwords_table a {
	text-decoration: none;
}


#passwordList #passwords_table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#passwordList #passwords_table th {
	border-bottom: 1px solid #000;
}

#passwordList #passwords_table tr:nth-child(2n) td {
	background-color: rgba(255, 255, 255, 0.75);
}

#searchbar {
	background-color: #73BF3A;
	text-align: right;
	padding: 10px;
	color: #fff;
}

#searchbar i {
	font-size: 20px;
	padding-left: 10px;
}

#searchbar input[type=search] {

	border: none;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.35);
	padding: 4px;
	width: 300px;
	font-size: 12px;
	text-align: center;
}

#searchbar input[type=search]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#searchbar input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
#searchbar input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
#searchbar input[type=search]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}


#detailScreen {
}

#detailScreen #passwordValue {
	margin-top: 20px;
	position: relative;
	width: 500px;
	left: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.15);
	color: #000;
	border-radius: 15px;
}

a.button {
	display: block;
	width: 500px;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	
	height: 50px;

	border-radius: 15px;

	font-size: 30px;
	line-height: 50px;
	text-align: center;

	text-decoration: none;
	
}

a.green {
	background-color: #73BF3A;
	color: #fff;
}

a.red {
	background-color: #E62534;
	color: #fff;
}

a.blue {
	background-color: #37465D;
	color: #fff;
}

footer {
	position: fixed;
	bottom: 0px;
	height: 20px;
	text-align: center;
	width: 100%;
	padding: 5px;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background-color: #dadada;
	font-size: 12px;
}

footer a {
	text-decoration: none;
}

#editScreen table {
	position: relative;
	margin-top: 20px;
	width: 500px;
	left: 50px;
}

#editScreen td {
	height: 40px;
}

#editScreen input {
	width: 300px;
	height: 20px;
	line-height: 20px;

	border: none;
	border-bottom: 1px solid #000;
	/*border-radius: 7px;*/
	background-color: rgba(0, 0, 0, 0);
	padding: 4px;
	font-size: 12px;
	text-align: center;
}
